.container {
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent items from wrapping */
  max-width: 100%; /* Adjust the width as needed */
  align-items: center;
}

.list {
  display: inline-flex; /* Display items in a row */
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.subTitle {
  font-size: 1.5em;
  text-align: center;
  color: #5c5a5a;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 20px;
  padding: 0;
}
